.site-footer {
    display: flex;
    padding-top: 34px;
    padding-bottom: 16px;
    height: 186px;
    margin-top: auto;
}

.site-footer-wrapper {
    text-align: center;
    margin: 0 auto;
}

.copyright-text {
    text-transform: uppercase;
    font-size: 20px;
}