.movie-feed-promo {
  position: relative;
}

.promo-poster-block {
  text-align: center;
}

.movie-feed-list-wrapper{
  border-top: 1px solid #d9d9d9;

}

.movie-feed-list {
  border-bottom: 1px solid #d9d9d9;
  padding: 0;
  list-style: none;
  padding: 0px 16px 20px 16px;
  display: flex;
  flex-wrap: nowrap;
}

.movie-feed-list-title {
  margin-left: 20px;
  font-size: 30px;
}

.movie-feed-item {
  margin-right: 18px;
}

.movie-info-block {
  background-color: rgba(136, 133, 134, 0.6);
  width: 451px;
  position: absolute;
  padding: 18px;
  border-radius: 12px;
  top: 31%;
  left: 25%;
}

.description-title {
  text-transform: capitalize;
}

.description-genres-block {
  padding: 0;
  list-style: none;
}

.description-genres-text {
  text-transform: uppercase;
}

.description-text {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
}

.play-btn-block {
  display: flex;
}

.play-btn-text {
  align-self: center;
  text-transform: uppercase;
  color: #e4e4e4;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
}

.play-btn {
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  width: 60px;
  height: 56px;
  background-image: url('../../../public/img/play-btn.svg');
  background-repeat: no-repeat;
  margin-right: 10px;
}

.play-btn::after {
  content: "Watch trailer";
  left: 65px;
  bottom: 13px;
  font-size: 16px;
  position: absolute;
  color: #d9d9d9;
  font-weight: 600;
}

.movie-feed-player {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}